- iconSrc = newImgPath + "/icon";

.user-badge
    +userCardTop("보유 중인 배지", "배지 설정")
    .user-section
        .badge-graph-wrapper
            .hold-badge-wrapper.num-wrapper
                mixin numWrapper
                    span.hold-num 0
                    span.max-num /0
            .badge-graph.graph-wrapper
                mixin graphWrapper
                    .graph-num 0%
                    .bar-back
                        .bar-front
        .badge-wrapper
            //-
                .badge-item
                    each badgeItemNo in ["first", "second"]
                        img.s_inv(
                            src=`${iconSrc}/${badgeItemNo}_plus.png`,
                            alt=`${String.prototype.toUpperCase(badgeItemNo)}
                            Plus Badge`
                        )