.user-badge
    .user-card-top
        h4 보유중인 뱃지
        button.top-setting-btn(type='button') 뱃지설정
    .user-section
        .badge-graph-wrapper
            .hold-badge-wrapper.num-wrapper
                span.hold-num 0
                span.max-num /0
            .badge-graph.graph-wrapper
                .graph-num 0%
                .bar-back
                    .bar-front
        .badge-wrapper
        //-
            .badge-item
                img.s_inv(
                    src=`${G_CDN_DOMAIN_IMG}/img/new/icon/first_plus.png`,
                    alt='First Plus Badge'
                )
            .badge-item
                img.s_inv(
                    src=`${G_CDN_DOMAIN_IMG}/img/new/icon/second_plus.png`,
                    alt='Second Plus Badge'
                )