.hold-donation-wrapper
    +userCardTop("후원", "후원내역")
    .user-section
        .hold-done-rank.rank-wrapper
            +rank("후원 ", "후원 금액")
        - cnt = 1
        .get-done-imgs.s_inv
            while cnt < 3
                img(src=`${iconSrc}/sponsor${cnt++}.png`, alt="")
            img(src=`${iconSrc}/necromancer.gif`, alt="")