.hold-donation-wrapper
    .user-card-top
        h4 후원
        button.top-setting-btn(type="button") 후원내역
    .user-section
        .hold-done-rank.rank-wrapper
            img.s_inv(
                src = G_CDN_DOMAIN_IMG +
                "/img/new/user_profile/rank_medal_icon.png"
            )
            .user-rank
                p 후원 랭킹
                div -
            .deco-bar
            .hold-item-num
                p 전체 후원 금액
                div -
        .get-done-imgs.s_inv
            img(src=`${G_CDN_DOMAIN_IMG}/img/new/icon/sponsor1.png`, alt="")
            img(src=`${G_CDN_DOMAIN_IMG}/img/new/icon/sponsor2.png`, alt="")
            img(src=`${G_CDN_DOMAIN_IMG}/img/new/icon/necromancer.gif`, alt="")