.hold-epicnt-wrapper
    .user-card-top
        h4 읽은 회차 수
    .user-section
        .hold-epicnt-rank.rank-wrapper
            .hold-item-num(style="width:100%")
                p 전체 누적 읽은 회차 수
                div -
        - cnt = 1
        .get-keep-imgs.s_inv
            while cnt < 5
                img(src=`${iconSrc}/episode_cnt_0${cnt++}.png` alt="")
            img(src=`${iconSrc}/episode_cnt_05.gif` alt="")
