.prefer-wrapper.s_inv
    .prefer-box
        h4 취향
        .prefer-canvas
            canvas#canvas
        .prefer-tags
            each preferTag in ["#코미디", "#현대", "#라이트노벨", "#TS", "#착각"]
                span=preferTag
    |
    .prefer-lists
        h4 선호하는 소설
        ul
            //- Favorites example

                li 걸어서 소설속으로
                li
                    span.adult-mark.s_inv 19
                    걸어서 소설속으로
                li 걸어서 소설속으로
                li 걸어서 소설속으로
                li 걸어서 소설속으로
                li 걸어서 소설속으로
    |
    - cnt = 2
    .prefer-page
        //- Pagination example

            a.first-page(href='')
                img(src='#{profilePath}/left.png')
            a.selected(href='javascript:;') 1
            while cnt < 5
                a(href='javascript:;')=cnt++
            a.last-page(href='')
                img(src='#{profilePath}/right.png')