.prefer-wrapper.s_inv
    .prefer-box
        h4 취향
        .prefer-canvas
            canvas#canvas
        .prefer-tags
            span #코디미
            span #현대
            span #라이트노벨
            span #TS
            span #착각
    |
    .prefer-lists
        h4 선호하는 소설
        ul
            //- Favorites example

                li 걸어서 소설속으로
                li
                    span.adult-mark.s_inv 19
                    걸어서 소설속으로
                li 걸어서 소설속으로
                li 걸어서 소설속으로
                li 걸어서 소설속으로
                li 걸어서 소설속으로
    |
    .prefer-page
        //- Pagination example

            a.first-page(href='')
                img(src='${G_CDN_DOMAIN_IMG}/img/new/user_profile/left.png')
            a.selected(href='javascript:;') 1
            a(href='javascript:;') 2
            a(href='javascript:;') 3
            a(href='javascript:;') 4
            a.last-page(href='')
                img(src='${G_CDN_DOMAIN_IMG}/img/new/user_profile/right.png')