.achieve-wrapper
    .user-card-top
        h4 업적 달성 현황
        button.top-setting-btn(type="button") 업적보기
    .user-section
        .achieve-bar.basic-achieve
            .achieve-num
                div 기본업적
                .num-wrapper
                    span.hold-num 0
                    span.max-num /0
            .graph-wrapper
                .graph-num 0%
                .bar-back
                    .bar-front
        .achieve-bar.hard-achieve
            .achieve-num
                div 특수업적
                .num-wrapper
                    span.hold-num 0
                    span.max-num /0
            .graph-wrapper
                .graph-num 0%
                .bar-back
                    .bar-front