.achieve-wrapper
    +userCardTop("업적 달성 현황", "업적 보기")
    .user-section
        .achieve-bar.basic-achieve
            mixin bar(content)
                .achieve-num
                    div=content
                    .num-wrapper
                        +numWrapper
                .graph-wrapper
                    +graphWrapper
            +bar("기본 업적")
        .achieve-bar.hard-achieve
            +bar("특수 업적")