.hold-keep-wrapper
    +userCardTop("소장", "소장함")
    .user-section
        .hold-keep-rank.rank-wrapper
            +rank("소장 ", "소장 회차")
        - cnt = 1
        .get-keep-imgs.s_inv
            while cnt < 6
                img(src=`${iconSrc}/episode${cnt++}.svg`, alt="")