.hold-stamp-wrapper
    +userCardTop("보유 중인 로얄티콘", "로얄티콘 관리")
    .user-section
        .hold-emo-rank.rank-wrapper
            +rank("로얄티콘 보유", "보유 로얄티콘")
        .get-emo-num
            +getEmoWrapper("emt_novel1", "로얄티콘")