//- 상단여백, 이동시 삭제
div(style="margin-top:16px;")
|
.list-tit.s_inv
    p 연재 중인 소설
        span (-)
    a.btn-writer-room(href="/writer-room") 작품 관리
|
.novel-list-wp.s-inv
    .novel-empty
        img.s_inv(src=imgPiazSrc)
        p 연재 중인 소설이 없습니다.
        a.btn-publishing(href="/publishing/new") 글 쓰고 부자되기
|
.pagination.s_inv