- G_CDN_DOMAIN_IMG = "//images.novelpia.com";
.writer-wrapper
    .user-card-top
        h4 연재중인 소설
        button.top-setting-btn(type="button") 연재소설

    .user-section
        .novel-empty
            img.s_inv(
                src=`#{G_CDN_DOMAIN_IMG}/img/new/user_profile/img_piaz.png`
            )
            p 연재중인 소설이 없습니다.